<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Appshop.Properties.Settings.KundbasConnectionString"
            connectionString="Data Source=DESKTOP-DTJAR6O\SQLEXPRESS;Initial Catalog=Kundbas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>