<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Appshop.Properties.Settings.KundbasConnectionString"
            connectionString="Data Source=SQL5063.site4now.net;Initial Catalog=DB_A6518E_projekti001;User Id=DB_A6518E_projekti001_admin;Password=ProjketiTem@1;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>